<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="BadmintonServiceLibrary.Service1">
        <endpoint address="" binding="netTcpBinding"
                   contract="BadmintonServiceLibrary.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexTcpBinding"
                  address="mex"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8732/BadmintonServer/BadmintonService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2927/Service1.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" 
                contract="BadmintonServiceReference.IService1"
                name="BasicHttpBinding_IService1" />
        </client>-->
  </system.serviceModel>
</configuration>